<h2>Create Discount</h2>

<%= render partial: 'form', locals: { path: merchant_discounts_path,
                                      method: :post,
                                      button_text: 'Create Discount'} %>
